@import './variables';

/** Ul v hlavní Navigaci **/
@mixin mainUl {
    ul {
        display: flex;
        position: fixed;
        gap: $gapSize;
        width: 100%;
        justify-content: center;
        z-index: 100;

        li {
            list-style: none;
            width: fit-content;
            font-size: 1.7em;
            padding-top: 10px;
            padding-right: 20px;
            transition: $transitionTime;

            &:hover {
                transform: scale(1.3) rotate(15deg);
            }
        }

        a {
            position: relative;
            text-decoration: none;
            color: $colorWhite;
            z-index: 0;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-image: $backLight;
                filter: blur(10px);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
}

/****** První sekce ******/
@mixin firstSection {
    .first-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .first-text {
        gap: $gapSize;
        align-items: center;

        .first-p {
            text-align: block;
            letter-spacing: 1px;
            line-height: 1.5; 
            font-weight: 400; 
            font-size: $fontSize;
            width: 50%; 
            padding-bottom: 10px;
        }
    }
}


/********** Responzivity *********/
@mixin tabletResponzivity {
    @media (max-width: 853px) {
        .welcoming-h1 {
            right: 25px;
        } 
        /**první sekce (dělat v nestingu vše) **/
        .first-about {
            flex-direction: column;
            align-items: center;
            padding-top: 10px;

            .first-text {
                flex: 0 1 0;

                .first-p {
                    width: 90%;
                }
            }
        }
        /***************************/
    }
}

@mixin mobileResponzivity {
    @media (max-width: 600px) {

        .main-navigation ul {
            display: none;
        }

        .welcoming-h1 {
            position: absolute;
            right: 10px;
            font-size: 3rem;
        }     
        /***************************/


    }
}