@import './variables';

/** Ul v hlavní Navigaci **/
@mixin mainUl {
    ul {
        display: flex;
        position: fixed;
        gap: $gapSize;
        width: 100%;
        justify-content: center;
        z-index: 100;

        li {
            list-style: none;
            width: fit-content;
            font-size: 1.7em;
            padding-top: 10px;
            padding-right: 20px;
            transition: $transitionTime;
        }
    }
}