@import './variables'; 
@import './functions';

/*** Multifinkční mixiny *****/
@mixin BorderRadius ($radius: 5px) { //<= default, lze předělat v ()
    border-radius: $radius;
}

@mixin WidthHeight ($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

/** Ul v hlavní Navigaci **/
@mixin mainUl {
    ul {
        display: flex;
        position: fixed;
        gap: $gapSize;
        width: 100%;
        justify-content: center;
        z-index: 10041121;

        li {
            list-style: none;
            width: fit-content;
            font-size: 1.7em;
            padding-top: 10px;
            padding-right: 20px;
            transition: $transitionTime;

            &:hover {
                transform: scale(1.3) rotate(15deg);
            }
        }

        a {
            position: relative;
            text-decoration: none;
            color: $colorWhite;
            z-index: 9999;

            &::before {
                content: "";
                @include WidthHeight();
                background-image: $backLight;
                filter: blur(10px);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
}

/****** První sekce ******/
@mixin firstSection {
    .first-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .first-text {
        align-items: center;
        justify-content: space-around;
        gap: $gapSize;

        .first-p {
            text-align: block;
            letter-spacing: 1px;
            line-height: 1.5;
            font-weight: 400;
            font-size: $fontSize;
            width: 50%;
            padding-bottom: 10px;
        }

    }

    /** fotky **/
    .first-photo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px 10px;
        width: 98%;
        height: 100%;
        margin-bottom: 20px;

        .first-photos {
            width: 100%;
            height: 100%;

            .first-imgs {
                width: 100%;
                height: 100%;
                @include BorderRadius();
                transition: $transitionTime;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

/** Druhá sekce **/
@mixin SecondSection {
    .second-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: $gapSize;
        width: 100%;
        padding-top: $tenPXSpace;

        .second-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1 0 0;
            margin-left: $tenPXSpace;

            .second-article {
                text-align: justify;
                font-size: $fontSize;
                padding: $tenPXSpace;
            }

            h3 {
                display: flex;
                justify-content: center;
                line-height: 2.75;
                letter-spacing: 1px;                                 
            }

            p {                 
                line-height: 1.5;
                letter-spacing: 1px;
            }
        }

        /**fotky **/
        .second-photo {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            .second-photo-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 1;
                width: 100%;

                .second-photos {
                    width: 95%;
                    height: 100%;
                    margin: $tenPXSpace;
                    @include BorderRadius();
                }
            }
        }
    }

}


/********** Responzivity *********/
@mixin tabletResponzivity {
    @media (max-width: 853px) {
        .welcoming-h1 {
            right: 25px;
        }

        /**první sekce (dělat v nestingu vše) **/
        .first-about {
            flex-direction: column;
            align-items: center;
            padding-top: $tenPXSpace;

            .first-text {
                gap: $gapSize;
                flex: 0 1 0;

                .first-p {
                    width: 90%;
                }
            }

            .first-photo {
                display: none;
            }
        }

        /***************************/
        /*** druhá sekce **/
        .second-container {
            flex-direction: column;

            .second-photo {
                .second-photo-container {
                    align-items: center;
                }
            }
        }
    }
}

@mixin mobileResponzivity {
    @media (max-width: 600px) {

        .main-navigation ul {
            display: none;
        }

        .welcoming-h1 {
            position: absolute;
            right: 10px;
            font-size: 3rem;
        }

        /***************************/
        /** druhá sekce **/

        .second-article {
            margin: 0 auto;

            h3 {
                font-size: 1.25rem; 
                text-align: center;
            }

            p {
                font-size: $fontMobileSize;
                text-align: center;
            }
        }

    }
}