/** barvičky ***/
$NavigationBackgroud: radial-gradient(circle farthest-corner at 10% 20%,
        #941e09 20%,
        #158512 110%); 
$colorWhite: #fff;
/*** Velikosti ***/
$oneHundred: 100%; 
$gapSize: 20px;  
$remSize: 4.5rem; 
$backgroundPozition: 50% 25%;

/** transition časy **/ 
$transitionTime: 0.5s;