/** barvičky ***/
$NavigationBackgroud: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, 
rgba(21, 133, 18, 0.5) 110%); 
$BackgroudReverse: radial-gradient(circle farthest-corner at 10% 20%, rgba(21, 133, 18, 0.5) 20%, rgba(148, 30, 9, 0.5) 110%);
         
$colorWhite: #fff; 
$backLight: radial-gradient(circle farthest-corner at 10% 20%, #cccc17 25%, #792c2c 100%);
/*** Velikosti ***/
$oneHundred: 100%; 
$gapSize: 20px;  
$remSize: 4.5rem; 
$backgroundPozition: 50% 25%; 
$fontSize: 1.5rem; 
$fontH2Size: 2rem;
$tenPXSpace: 10px;
/** transition časy **/ 
$transitionTime: 0.5s;