@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/functions";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Raleway, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./img/Pozim.jpg);
    background-size: cover;
    background-position: $backgroundPozition;
    min-height: 100vh;
}

h2 {
    font-size: $fontH2Size;
}

h3 {
    font-size: $fontSize;
}

/*******************************************/
.main-navigation {
    display: flex;
    justify-content: center;
    position: fixed;
    width: $oneHundred;
    height: $remSize;
    background: $NavigationBackgroud;
    color: $colorWhite;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 154551;
    @include mainUl;
}

/** h1 */
.welcoming-h1 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    font-size: $remSize;
    right: 35px;
    bottom: $tenPXSpace;
    color: $colorWhite;

    span {
        background: $NavigationBackgroud;
    }
}

/**** První sekce **/
.first-about {
    display: flex;
    padding-top: 15px;
    background-image: $NavigationBackgroud;
    @include firstSection;
}

/** Druhá sekce **/
.second-trips {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: $tenPXSpace;
    background-image: $BackgroudReverse;

    .second-h2 {
        font-size: 3rem;
    }

    @include SecondSection;
}
/***************************************************************/
/***************************************************************/

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background: $NavigationBackgroud;
    padding: $tenPXSpace;
    font-size: $fontSize;
    p {
        position: relative;
        color: $colorWhite;
        &::before {
            content: "";
            @include WidthHeight();
            background-image: $footerBackground;
            filter: blur(10px);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
}

@include mobileResponzivity;
@include tabletResponzivity;
