@charset "UTF-8";
/** barvičky ***/
/*** Velikosti ***/
/** transition časy **/
/** barvičky ***/
/*** Velikosti ***/
/** transition časy **/
/**** barvičkové fce ***/
/** Příklad **/
/**** počítání calc() ****/
/*** Multifinkční mixiny *****/
/********************************************************************/
/********************************************************************/
/** Ul v hlavní Navigaci **/
/******************************************************************/
/******************************************************************/
/****** První sekce ******/
/*************************************************************/
/*************************************************************/
/** Druhá sekce **/
/******************************************************/
/********** Responzivity *********/
/******************************************************/
/******************************************************/
/**** barvičkové fce ***/
/** Příklad **/
/**** počítání calc() ****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Raleway, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./img/Pozim.jpg);
  background-size: cover;
  background-position: 50% 25%;
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

/*******************************************/
.main-navigation {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, rgba(21, 133, 18, 0.5) 110%);
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 154551;
}
.main-navigation ul {
  display: flex;
  position: fixed;
  gap: 20px;
  width: 100%;
  justify-content: center;
  z-index: 10041121;
}
.main-navigation ul li {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.7em;
  padding-top: 10px;
  padding-right: 20px;
  transition: 0.5s;
}
.main-navigation ul li:hover {
  transform: scale(1.3) rotate(15deg);
}
.main-navigation ul a {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 9999;
}
.main-navigation ul a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #cccc17 25%, #792c2c 100%);
  filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/** h1 */
.welcoming-h1 {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  font-size: 4.5rem;
  right: 35px;
  bottom: 10px;
  color: #fff;
}
.welcoming-h1 span {
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, rgba(21, 133, 18, 0.5) 110%);
}

/**** První sekce **/
.first-about {
  display: flex;
  padding-top: 15px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, rgba(21, 133, 18, 0.5) 110%);
  /** fotky **/
}
.first-about .first-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.first-about .first-text {
  align-items: center;
  justify-content: space-around;
}
.first-about .first-text .first-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}
.first-about .first-text .first-p {
  text-align: justify;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  width: 50%;
  padding-bottom: 10px;
}
.first-about .first-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px 10px;
  width: 98%;
  height: 100%;
  margin-bottom: 20px;
}
.first-about .first-photo .first-photos {
  width: 100%;
  height: 100%;
}
.first-about .first-photo .first-photos .first-imgs {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.5s;
}
.first-about .first-photo .first-photos .first-imgs:hover {
  transform: scale(1.1);
}

/** Druhá sekce **/
.second-trips {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(21, 133, 18, 0.5) 20%, rgba(148, 30, 9, 0.5) 110%);
}
.second-trips .second-h2 {
  font-size: 3rem;
}
.second-trips .second-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 10px;
  /**fotky **/
}
.second-trips .second-container .second-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
  margin-left: 10px;
}
.second-trips .second-container .second-text .second-article {
  text-align: justify;
  font-size: 1.5rem;
  padding: 10px;
}
.second-trips .second-container .second-text h3 {
  display: flex;
  justify-content: center;
  line-height: 2.75;
  letter-spacing: 1px;
}
.second-trips .second-container .second-text p {
  line-height: 1.5;
  letter-spacing: 1px;
}
.second-trips .second-container .second-photo {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.second-trips .second-container .second-photo .second-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 100%;
}
.second-trips .second-container .second-photo .second-photo-container .second-photos {
  width: 95%;
  height: 100%;
  margin: 10px;
  border-radius: 5px;
}
.second-trips .second-hr {
  width: 95%;
  border: 2px solid black;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .main-navigation ul {
    display: none;
  }
  .welcoming-h1 {
    position: absolute;
    right: 10px;
    font-size: 3rem;
  }
  /***************************/
  /** druhá sekce **/
  .second-article {
    margin: 0 auto;
  }
  .second-article h3 {
    font-size: 1.25rem;
    text-align: center;
  }
  .second-article p {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media (max-width: 853px) {
  .welcoming-h1 {
    right: 25px;
  }
  /**první sekce (dělat v nestingu vše) **/
  .first-about {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .first-about .first-text {
    gap: 20px;
    flex: 0 1 0;
  }
  .first-about .first-text .first-p {
    width: 90%;
  }
  .first-about .first-photo {
    display: none;
  }
  /***************************/
  /*** druhá sekce **/
  .second-container {
    flex-direction: column;
  }
  .second-container .second-photo .second-photo-container {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */