@media (max-width: 820px){ 
    .welcoming-h1 { 
        right: 25px;
    }
}


/** Mobil **/
@media (max-width: 600px) {  

    .main-navigation ul {
        display: none;
    }

    .welcoming-h1 {
        position: absolute;        
        right: 10px;         
        font-size: 3rem;
    }
}