@import './functions'; 
@import './variables'; 

/*** Multifunkční mixiny ***/ 

@mixin flexStandart { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
} 

@mixin paddingSize ($pixels: 10px) { 
    padding: $pixels;
}
/********************************************************/ 
/********************************************************/
