/** velikosti **/
$basicValueP: 18px; 
$basicBodyFont: 20px; 
/** barvičky **/ 
$colorWhite: #fff; 
$NavigationBackgroud: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, 
rgba(21, 133, 18, 0.5) 110%);  
$backLight: radial-gradient(circle farthest-corner at 10% 20%, #cccc17 25%, #792c2c 100%); 