@import "./variables";
@import "./functions";

/**** Multifunkční mixiny ***/
@mixin olFormater {
    ol { 
        position: relative;
        counter-reset: item;
        list-style-type: none; 
        
    }

    ol li {        
        counter-increment: item;
        margin-bottom: 10px;
        &::before {
            content: counter(item) ". ";
            font-weight: bold;
            margin-right: 5px;
        }
    }
} 
/***************************/ 
@mixin gapSpace ($gap: 10px){ 
    gap: $gap;
} 
/****************************/ 
@mixin borderRadius ($borderRadius: 5px){ 
    border-radius: $borderRadius;
} 
/******************/ 
@mixin paddingSize($pixels: 10px) {
    padding: $pixels;
}

//navigace
@mixin navFlex($widthOneHundert: 100%, $zIndex: 9999) {
    display: flex;
    justify-content: center;
    position: fixed;
    background: $NavigationBackgroud;
    width: $widthOneHundert;
    height: $remSize;
    color: $colorWhite;
    z-index: $zIndex;
}

//ul a li v nav
@mixin navRest {
    ul {
        display: flex;
        position: fixed;
        gap: 20px;
        width: 100%;
        justify-content: center;
        z-index: 10041121;

        li {
            list-style: none;
            width: fit-content;
            font-size: 1.7em;
            padding-top: 10px;
            padding-right: 20px;
            transition: 0.5s;

            &:hover {
                transform: scale(1.3) rotate(15deg);
            }
        }

        a {
            position: relative;
            text-decoration: none;
            color: $colorWhite;
            z-index: 999;

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-image: $backLight;
                filter: blur(10px);
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
            }
        }
    }
}
/*******************************************/
