@charset "UTF-8";
/** velikosti **/
/** barvičky **/
/** obrázky **/
/** fce pro paragrafy **/
/*** fce na přepočet velikosti od body **/
/** velikosti **/
/** barvičky **/
/** obrázky **/
/** fce pro paragrafy **/
/*** fce na přepočet velikosti od body **/
/** velikosti **/
/** barvičky **/
/** obrázky **/
/*** Multifunkční mixiny ***/
/********************************************************/
/********************************************************/
/*******************************************/
/** velikosti **/
/** barvičky **/
/** obrázky **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/img/podzimni_krajina.jpg);
  background-size: cover;
  background-position: 50% 55%;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: flex-end;
  text-align: end;
  position: absolute;
  font-size: 4.5rem;
  right: 35px;
  bottom: 10px;
  color: #fff;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 18px;
}

section {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(21, 133, 18, 0.5) 20%, rgba(148, 30, 9, 0.5) 110%);
}
section h2 {
  text-align: center;
  padding-top: 10px;
  font-size: 3rem;
}

footer {
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, rgba(21, 133, 18, 0.5) 110%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
footer p {
  position: relative;
  color: #fff;
}
footer p::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #cccc17 150%, #792c2c 50%);
  filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/********************************************************/
/********************************************************/
.activity-nav {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  position: fixed;
  background: radial-gradient(circle farthest-corner at 10% 20%, rgba(148, 30, 9, 0.5) 20%, rgba(21, 133, 18, 0.5) 110%);
  width: 100%;
  height: 4.5rem;
  color: #fff;
  z-index: 9999;
}
.activity-nav ul {
  display: flex;
  position: fixed;
  gap: 20px;
  width: 100%;
  justify-content: center;
  z-index: 10041121;
}
.activity-nav ul li {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.7em;
  padding-top: 10px;
  padding-right: 20px;
  transition: 0.5s;
}
.activity-nav ul li:hover {
  transform: scale(1.3) rotate(15deg);
}
.activity-nav ul a {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 999;
}
.activity-nav ul a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #cccc17 25%, #792c2c 100%);
  filter: blur(10px);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/****** první sekce ****/
/** wrapper **/
.drakiada-wrapper, .houbreni-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.drakiada-wrapper .drakiada-text, .houbreni-wrapper .drakiada-text, .houbreni-wrapper .houbareni-text {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.drakiada-wrapper .drakiada-photo, .houbreni-wrapper .drakiada-photo, .houbreni-wrapper .houbareni-photo {
  display: grid;
  gap: 10px;
  flex: 1;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-template-areas: "one two" "footer footer";
}
.drakiada-wrapper .drakiada-photo .drakiada-img, .houbreni-wrapper .drakiada-photo .drakiada-img, .houbreni-wrapper .houbareni-photo .drakiada-img, .houbreni-wrapper .houbareni-photo .houbareni-img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.drakiada-wrapper .drakiada-photo .img3, .houbreni-wrapper .drakiada-photo .img3, .houbreni-wrapper .houbareni-photo .img3 {
  grid-area: footer;
}

/*** Druhá sekce ***/
.houbreni-wrapper .houbareni-photo .img3 {
  grid-area: footer;
}

/*** 3 sekce ***/
.foceni {
  padding-bottom: 50px;
}

.foceni-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.foceni-wrapper .foceni-text {
  text-align: center;
  padding: 10px;
}
.foceni-wrapper .foceni-photo {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  grid-template-areas: "a b c" "d e f" "g h ch";
  gap: 10px;
}
.foceni-wrapper .foceni-photo img {
  transition: 0.5s;
}
.foceni-wrapper .foceni-photo img:hover {
  transform: scale(1.3);
}
.foceni-wrapper .foceni-photo .foceni-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.foceni-wrapper .foceni-photo .img1 {
  grid-area: a;
}
.foceni-wrapper .foceni-photo .img2 {
  grid-area: b;
}
.foceni-wrapper .foceni-photo .img3 {
  grid-area: c;
}
.foceni-wrapper .foceni-photo .img4 {
  grid-area: d;
}
.foceni-wrapper .foceni-photo .img5 {
  grid-area: f;
}
.foceni-wrapper .foceni-photo .img6 {
  grid-area: g;
}
.foceni-wrapper .foceni-photo .img7 {
  grid-area: h;
}
.foceni-wrapper .foceni-photo .img8 {
  grid-area: ch;
}
.foceni-wrapper .foceni-photo .foceni-description {
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  grid-area: e;
}

/**********************************/
@media only screen and (max-width: 953px) {
  .activity-nav li {
    display: none;
  }
  .foceni-wrapper .foceni-photo {
    width: 80%;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 820px) {
  .drakiada-wrapper, .houbreni-wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .foceni-wrapper .foceni-photo {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .foceni-wrapper img {
    flex: 1;
    height: 100%;
  }
  .foceni-wrapper .foceni-img {
    flex: 1;
  }
}/*# sourceMappingURL=style.css.map */