@import './partials/functions';
@import './partials/mixins';
@import './partials/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: $basicBodyFont;
}

p {
    font-size: $basicValueP;
}

footer {
    @include flexStandart;
    @include paddingSize();
}

/********************************************************/
/********************************************************/

//navigace 
.activity-nav { 
    font: { 
        weight: bold; 
        size: 1.5rem;
    }
    @include navFlex();    
    @include navRest;
}