@import './partials/functions';
@import './partials/mixins';
@import './partials/variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Raleway, sans-serif;
    font-size: $basicBodyFont;
} 

header { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: $backgroudHeader;
    background-size: cover;
    background-position: 50% 55%;
    min-height: 100vh;
} 

h1 { 
    display: flex;
    align-items: flex-end; 
    text-align: end;    
    position: absolute;
    font-size: $remSize;
    right: 35px;
    bottom: 10px;
    color: $colorWhite; 
}

p {
    font-size: $basicValueP;
}

footer {
    @include flexStandart;
    @include paddingSize();
}

/********************************************************/
/********************************************************/

//navigace 
.activity-nav { 
    font: { 
        weight: bold; 
        size: 1.5rem;
    }
    @include navFlex();    
    @include navRest;
}